<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adonai.manman" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".ManApplication"
        android:theme="@style/Light"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:label="@string/app_name"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".MainPagerActivity"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".preferences.PreferencesActivity"
            android:label="@string/settings"/>

        <!-- DeX Mode and Screen Mirroring support -->
        <meta-data android:name="com.samsung.android.keepalive.density" android:value="true"/>
        <meta-data android:name="com.samsung.android.multidisplay.keep_process_alive" android:value="true"/>

    </application>

</manifest>
